---
layout: page
---

<!-- Chinese Version -->
<div class="zh post-container">
    <%- page.content %>
</div>

<!-- 如果开启评论功能 -->
<% if(page.comments) { %>
    <hr>
    <% if(config['disqus_username']) { %>
        <div class="comment">
            <div id="disqus_thread" class="disqus-thread"></div>
        </div>
        <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = "<%= config['disqus_username'] %>";
        var disqus_identifier = "<%= page.permalink %>";
        var disqus_url = "<%= page.permalink %>";

        var disqus_config = function () {
        this.page.url = disqus_url;
        this.page.identifier = disqus_identifier;
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://' + disqus_shortname +'.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
    <!-- disqus 公共JS代码 end -->
    <% } %>
<% } %>
